body{
    background-color: rgb(0, 7, 7);
}

h1{
    margin-top: 10px;
    text-align: center;
    text-decoration: underline ;
    color: red

}

li{
    outline: 3px solid rgb(245, 100, 100);
    margin-bottom: 15px;
    color: blue;

}